<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md" th:with="board = ${boardDTO}">

  <h3 class="mt-5"> [ no. [[${board.bno}]] ] detail page</h3>
  <form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">
    <div class="container mt-5">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4" >
            <div class="card-header d-flex ">
              <h2 class="card-title me-auto p-2">[[${board.title}]]</h2>
              <div class="small text-muted p-2">[[${board.writer}]]</div>
              <div class="small text-muted p-2">[[${#strings.substring(board.regDate,0,10)}]]</div>
            </div>
            <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
            <div class="card-body">
              <p class="card-text">[[${board.content}]]</p>
            </div>
            <div id="comment">
              <div class="input-group my-3">
                <span class="input-group-text" id="cmtWriter">tester</span>
                <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
                <button type="button" id="cmtAddBtn" class="btn btn-primary">post</button>
              </div>
              <!-- comment spread -->
              <ul class="list-group list-group-flush" id="cmtListArea">
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">writer</div>
                    content
                  </div>
                  <span class="badge text-bg-primary">reg_date</span>
                </li>
              </ul>
              <!-- moreBtn -->
              <div class="input-group my-3">
                <button type="button" class="btn btn-info" id="moreBtn" data-page="1" style="visibility: hidden">more</button>
              </div>
              <!--model-->
              <div class="modal" tabindex="-1" id="commentModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="cmtWriterMod">Tester</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control" id="cmtTextMod">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="cmtModBtn">changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- right Side widgets-->
        <div class="col-lg-2">
          <!-- Categories widget-->
          <div class="card mb-4">
            <div class="card-header">카테고리</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#!">Web Design</a></li>
                    <li><a href="#!">HTML</a></li>
                    <li><a href="#!">Freebies</a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#!">JavaScript</a></li>
                    <li><a href="#!">CSS</a></li>
                    <li><a href="#!">Tutorials</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Side widget-->
          <div class="card mb-4">
            <div class="card-header">최근 게시물</div>
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mx-3 mb-0">
                  <li><a href="#!">Linux</a></li>
                  <li><a href="#!">Vim</a></li>
                  <li><a href="#!">Fedora</a></li>
                  <li><a href="#!">...</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
  <script th:inline="javascript">
    const bnoValue = [[${board.bno}]];
  </script>
  <script th:src="@{/js/boardComment.js}"></script>
</div>